---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../ui/Nav.astro";
import Link from "../../ui/Link.astro";
import Tag from "../../ui/Tag.astro";

// react component
import ThemeToggle from "../../ui/ThemeToggle";

import { formatDate } from "../../utils/formatDate";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogsPosts = await getCollection("blog");

  return blogsPosts.map((post) => ({
    params: { post: post.slug },
    props: { post },
  }));
}

// const { title, date, tags } = Astro.props.frontmatter;
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout {post.data.title}>
  <h1 class="mb-8">{post.data.title}</h1>
  <Nav class="flex items-center justify-end gap-3 mb-8">
    <div class="mr-auto">
      <ThemeToggle client:only="react" />
      <time>{formatDate(post.data.date)}</time>
      •
      {post.data.tags.map((tag) => <Tag href={`/tags/${tag}`} text={tag} />)}
    </div>
    <Link href="/posts/" text="Back" />
  </Nav>
  <Content />
</Layout>
