---
import Link from "./Link.astro";

import { formatDate } from "../utils/formatDate";

const { frontmatter, url } = Astro.props;
---

<article>
  <h3><Link post text={frontmatter.title} href={url} /></h3>
  <p class="mb-2">
    {frontmatter.description}
    <Link text="Read More →" href={url} />
  </p>
  <time class="text-sm">{formatDate(frontmatter.date)}</time>
</article>
