---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../ui/Nav.astro";
import Link from "../../ui/Link.astro";
import PostCard from "../../ui/PostCard.astro";

import { formatBlog } from "../../utils/formatBlog";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const formattedPosts = formatBlog(allPosts);

  const uniqueTags = [
    ...new Set(formattedPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = formattedPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <h1 class="mb-8">"{tag}" Related Posts</h1>
  <Nav class="flex items-center justify-end gap-3 mb-8">
    <Link href="/" text="About" />
    <Link current href="/posts" text="Posts" />
    <Link href="https://github.com/payton-burr" target="_blank" text="Github" />
  </Nav>
  <section aria-label={`${tag} Related Posts`}>
    {
      posts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} />
      ))
    }
  </section>
</Layout>
